.git/
.gitee/
.vscode/
.cache/
.cached/
output/
*.o
*.bc
*.cjo
*.so
*.a
*.gcda
*.gcno
*.bchir
*.macrocall
src/example
test/log
test/report
test/tmp
test_temp
cjpm.lock
target
*.out
ci_test
test
build-script-cache
tmp/
node_modules/
